/* Universals */
* {
    box-sizing: border-box;
}

body, body .content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

body .content {
    width: 85%;
    margin-left: 15%;
}

h2 {
    font-weight: 400;
}

/* Nav/Header */
header {
    background: #333;
    position: fixed;
    width: 15%;
    padding-top: 20px;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

/* Post Cards */
.post-card {
    display: flex;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: #efefef;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 2.5% 5%;
    box-shadow: inset rgba(250,250,250,0) 5px 5px 10px, inset rgba(250,250,250,0) -5px -5px 10px;
    transition: all 0.5s ease;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.post-card:hover {
    box-shadow: inset rgba(250,250,250,0.6) 5px 5px 10px, inset rgba(250,250,250,0.6) -5px -5px 10px;
}

/* information about posts */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(30,50,70,0.35);
    min-width: 100%;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.post-card:hover .info {
    background: rgba(30,50,70,0.7);
}

.info .post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    min-width: 100%;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.post-data .score {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.info a {
    text-decoration: none;
    color: #dedede;
    line-height: 2em;
    transition: all .2s ease;
}

.info a:hover {
    color: #ccc;
    text-decoration: underline;
}

/* Status Changes (blurred, nsfw, spoiler, etc) */
.blur {
    filter: blur(30px);
    overflow: hidden;
}

.nsfw, .spoiler {
    position: relative;
}

.spoiler:before {
    content: 'SPOILER';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(25deg, #000, #fff);*/
    height: 100%;
    width: 100%;
}
/*No Preview Image Backgrounds*/
.background1 {
    background: linear-gradient(25deg, #009688, #ffc107);
}

.background2 {
    background: linear-gradient(25deg, #ffc107, #00bcd4);
}

.background3 {
    background: linear-gradient(25deg, #00bcd4, #cddc39);
}

.background4 {
    background: linear-gradient(25deg, #cddc39, #673ab7);
}

.background5 {
    background: linear-gradient(25deg, #673ab7, #9c27b0);
}

.background6 {
    background: linear-gradient(25deg, #9c27b0, #e91e63);
}

.background7 {
    background: linear-gradient(25deg, #e91e63, #4caf50);
}

.background8 {
    background: linear-gradient(25deg, #4caf50, #ff5722);
}

.background9 {
    background: linear-gradient(25deg, #ff5722, #795548);
}

.background10 {
    background: linear-gradient(25deg, #795548, #009688);
}