/* Universals */
* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

body, body .content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

body .content {
    width: 85%;
    margin-left: 15%;
    overflow-y: auto;
    position: relative;
}

h2 {
    font-weight: 400;
}

/* Nav/Header */
header {
    background: #333;
    position: fixed;
    width: 15%;
    padding-top: 20px;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

.navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.selected {
    border-bottom: 1px solid #fff;
}

/* Post Cards */
.post-card {
    display: flex;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: #efefef;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 2.5% 5%;
    box-shadow: inset rgba(250,250,250,0) 5px 5px 10px, inset rgba(250,250,250,0) -5px -5px 10px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.post-card:hover, .card-cover:hover {
    box-shadow: inset rgba(250,250,250,0.6) 5px 5px 10px, inset rgba(250,250,250,0.6) -5px -5px 10px;
}

/* information about posts */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(30,50,70,0.35);
    min-width: 100%;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.post-card:hover .info {
    background: rgba(30,50,70,0.7);
}

.info .post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    min-width: 100%;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.post-data .score {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.info a {
    text-decoration: none;
    color: #dedede;
    line-height: 2em;
    transition: all .2s ease;
}

.info a:hover {
    color: #ccc;
    text-decoration: underline;
}

/* Status Changes (blurred, nsfw, spoiler, etc) */
.blur {
    filter: blur(30px);
}

.spoiler-nsfw {
    position: relative;
}

.card-cover {
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(43, 40, 50, 0.95) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.9) 60%);
    z-index: 3;
    transform: translateY(0);
    transition: all 0.5s ease;
    text-decoration: none;
    color: #efefef;
}

.card-cover:after {
    content: '';
    position: absolute;
    background: linear-gradient(-19deg, rgba(43,40,50,0.95) 0%, rgba(43,40,50,0.9) 46%, rgba(0,0,0,0.75) 50%);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(60px);
    z-index: -1;
}

.card-cover p {
    padding: 20px;
    border: 2px solid rgba(250,250,250,1);
    transition: all .5s ease;
}

.hidden {
    height: 10%;
    border-radius: 0 0 5px 5px;
    right: 25%;
    width: 50%;
}

.hidden p {
    padding: 0;
    border-color: rgba(250,250,250,0);
}

/* Self Posts */
.full-post {
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    z-index: 1000;
    background: #eee;
    overflow: scroll;
}

.full-post i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    z-index: 1001;
    cursor: pointer;
    background: rgba(204, 188, 163, 0.52);
    color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: all .2s ease;
}

.full-post i:hover {
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.full-post-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    color: #121212;
}

.full-post-content h2 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.full-post-content .self-text, .full-post-content .md {
    font-family: 'Merriweather';
    font-size: 1.1em;
    line-height: 1.35em;
}

/*No Preview Image Backgrounds*/
.background1 {
    background: linear-gradient(25deg, #009688, #ffc107);
}

.background2 {
    background: linear-gradient(25deg, #ffc107, #00bcd4);
}

.background3 {
    background: linear-gradient(25deg, #00bcd4, #cddc39);
}

.background4 {
    background: linear-gradient(25deg, #cddc39, #673ab7);
}

.background5 {
    background: linear-gradient(25deg, #673ab7, #9c27b0);
}

.background6 {
    background: linear-gradient(25deg, #9c27b0, #e91e63);
}

.background7 {
    background: linear-gradient(25deg, #e91e63, #4caf50);
}

.background8 {
    background: linear-gradient(25deg, #4caf50, #ff5722);
}

.background9 {
    background: linear-gradient(25deg, #ff5722, #795548);
}

.background10 {
    background: linear-gradient(25deg, #795548, #009688);
}