@media (max-width: 1500px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    /* Body */
    body .content {
        width: 100%;
        margin-left: 0;
    }
    
    /* Nav */
    header {
        z-index: 1000;
        width: 75%;
        background: #fff;
    }
    
    nav {
        color: #333;
        font-weight: 900;
        
        .selected {
            border-color: darkgrey;
        }
    }
    
    /* Sidebar */
    .sidebar {
        display: none;
    }
    
    /* Post Cards */
    .post-card.half-width {
        width: 100%;
    }
    
    /* Full Posts */
    .full-post {
        width: 100%;
    }
    
    .full-post-content {
        max-width: 95%;
    }
    
    .full-post .close-post {
        top: 5px;
        right: 25px;
    }
    
}