@media (max-width: 1500px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1250px) {
    .full-post-content {
        max-width: 95%;
    }
}

@media (max-width: 500px) {
    /* Body */
    body .content {
        width: 100%;
        margin-left: 0;
    }
    
    /* Nav */
    header {
        z-index: 1000;
        width: 75%;
        background: #fff;
    }
    
    nav {
        color: #333;
        font-weight: 900;
        
        .selected {
            border-color: darkgrey;
        }
    }
    
    /* Sidebar */
    .sidebar {
        z-index: 1;
        width: 100%;
        height: 90%;

        .sidebar-toggle {
            width: 100%;
            height: 25px;
            top: 95.5%;
            right: 0;
            z-index: 1;
            box-shadow: inset 0px -2px 4px -1px rgba(0,0,0,0.3);
        }
    }

    .sidebar-no-show .sidebar {
        top: -90%;
        left: 0;
        transform: translateY(25px);
    }

    body.sidebar-no-show .content {
        margin-left: 0;
        margin-top: 25px;
    }
    
    /* Post Cards */
    .post-card.half-width {
        width: 100%;
    }
    
    /* Full Posts */
    .full-post {
        width: 100%;
    }
    
    .full-post-content {
        max-width: 95%;
    }
    
    .full-post .close-post {
        top: 5px;
        right: 25px;
    }
    
}