.sidebar {
    position: fixed;
    top: 0%;
    left: 0;
    width: 25%;
    color: $text;
    background: $accent;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    overflow-y: auto;
    transition: left .75s ease, transform .75s ease;
    
    .about-sub {
        width: 80%;
        height: 40%;
        padding: 0 20px;
        margin-right: 25px;
        background: $dark-accent;
        overflow-y: scroll;

        h2 {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.5em;
            font-weight: 900;
            text-align: left;
            text-decoration: underline;
            word-wrap: break-word;
        }

        .sub-reddit-description {
            font-family: 'Merriweather', serif;
            font-size: 1em;
            line-height: 1.25em;
            border-radius: 10px;
            max-width: 92%;

            a {
                color: #ddd;
                font-weight: 900;

                &:hover {
                    color: #efefef;
                }
            }
        }
    }

    .sidebar-toggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25px;
        top: 0;
        right: 0;
        z-index: 1;
        background: $dark-accent;
        box-shadow: inset -2px 0px 4px -1px rgba(0,0,0,.3);
        transition: background .5s ease;
        cursor: pointer;

        &:hover {
            background: lighten($dark-accent, 2%);
        }
    }

    .account-card {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 0;
        background-color: lighten($dark-accent, 4%);
        
        .card-tab-buttons {
            width: 100%;
            padding: 0;
            cursor: pointer;
            border-bottom: solid 1px lighten($dark-accent, 1%);

            .tab-button {
                width: 49%;
                margin: 0;
                display: inline-block;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
                transition: all ease .25s;

                &:hover {
                    background-color: lighten($accent, 3%);
                }

                &.active, &.active:hover {
                    background-color: lighten($dark-accent, 3%);
                }

                h2 {
                    font-family: 'Work Sans', sans-serif;
                    font-size: .9em;
                    text-align: center;
                }
            }
        }

        .card-tab {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        }
    }
}

.sidebar-no-show .sidebar {
    left: -25%;
    transform: translateX(25px);
}