@media (max-width: 500px) {
    /* Body */
    header {
        z-index: 1000;
        width: 75%;
        background: rgba(250,250,250,0.75);
    }
    
    nav {
        color: #333;
        font-weight: 900;
        
        .selected {
            border-color: darkgrey;
        }
    }
    
    body .content {
        width: 100%;
        margin-left: 0;
    }
    
    /* Post Cards */
    .post-card.half-width {
        width: 100%;
    }
    
    /* Full Posts */
    .full-post {
        width: 100%;
    }
    
    .full-post-content {
        max-width: 95%;
    }
    
    .full-post .close-post {
        top: 5px;
        right: 25px;
    }
    
}