@media (screen and max-width: 433px) {
    /* Post Cards */
    .half-width {
        width: 100%;
    }
    
    /* Full Posts */
    .full-post .close-post {
        width: 100px;
        height: 100px;
        right: 100px;
    }
}