* {
    box-sizing: border-box;
}

body {
    height: 100%;

    &, .content {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        width: 85%;
        margin-left: 15%;
        overflow-y: auto;
        position: relative;
    }
}

h2 {
    font-weight: 400;
}

blockquote {
    margin-left: 0;
    padding-left: 25px;
    border-left: 15px solid rgba(125,125,125,0.25);
    font-style: italic;
}